nav {
  max-width: 100vw;
  background-color: #2f170fde;
  .nav_bar {
    display: none;
  }
  .container_nav {
    max-width: 70vw;
    height: 82px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    ul {
      display: flex;
      gap: 55px;
      font-size: 18px;
      font-weight: bold;
      color: white;
      li {
        transition: 300ms;
        &:hover {
          color: rgb(169, 169, 169);
        }
      }
    }
  }
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }